############################
# Node / JavaScript geral  #
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

############################
# Logs e cobertura         #
############################
logs/
*.log
lerna-debug.log*
coverage/
*.lcov

############################
# Compilados / builds      #
############################
dist/
build/
.turbo/
.parcel-cache/
.cache/

############################
# Ambiente / variáveis     #
############################
.env
.env.local
.env.*.local

############################
# Docker                   #
############################
docker-data/
*.pid

############################
# IDE / SO                 #
############################
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db

############################
# Projetos específicos     #
############################
# Backend NestJS (CodeConnect-BackEnd)
CodeConnect-BackEnd/node_modules/
CodeConnect-BackEnd/dist/
CodeConnect-BackEnd/coverage/

# Frontend Vite React (CodeConnect-FrontEnd)
CodeConnect-FrontEnd/node_modules/
CodeConnect-FrontEnd/dist/

